@model PlataformaUpskill_API.Data.Models.Local
<form method="post" asp-action="LocalEdit">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Local</h2>
            <hr/>
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Nome"></label>
            <input asp-for="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px">Edit</button>
    <a asp-controller="Local" asp-action="Index" class="btn btn-secondary" style="width:150px">
        Back to List
    </a>
</form>
@section Scripts{
	@{
    <partial name="_ValidationScriptsPartial" />
	}
}
