@model Client_PlataformaUpskill.Models.View_Models.Local_Sala
<form method="post" asp-action="SalaCreate">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add New Sala</h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="Sala.Nome"></label>
            <input asp-for="Sala.Nome" class="form-control" />
            <span asp-validation-for="Sala.Nome" class="text-danger"></span>
        </div>
                <div class="mb-3">
            <label asp-for="Sala.LocalId" class="control-label"></label>
            <select asp-for="Sala.LocalId">
                @foreach (var item in Model.Local)
                {
                    <option asp-for="Sala.LocalId" value="@item.Id"> @item.Id-@item.Nome</option>
                }
            </select>
            <span asp-validation-for="Sala.LocalId" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
    <a asp-controller="Local" asp-action="SalaIndex" class="btn btn-secondary" style="width:150px">
        Back to List
    </a>
    </div>
</form>
@section Scripts{
	@{
    <partial name="_ValidationScriptsPartial" />
	}
}